@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Chewy);
html {
    font-family: 'Chewy', cursive;
  }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
