@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Chewy);
html {
    font-family: 'Chewy', cursive;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
